# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
package-lock.json
*codebase.md
.perma-deploy/config.json
.perma-deploy/manifest.json
README.md
.perma-deploy/manifest.json
dumdum.png
vite.config.js
README.md

